{% assign clip = include.clip %}

<div class="clip">
  <div class="row">
    <div class="col-xs-12 col-sm-12">
      <h3><a href="{{clip.link}}" target="_blank">{{ clip.headline}}</a></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-3">
      <p class="publication">{{ clip.publication }}</p>
      <p class="publication-date">{{ clip.date }}</p>
    </div>
    <div class="col-xs-12 col-sm-9">
      <div class="clip-blurb">{{ clip.blurb }}</div>
    </div>
  </div>
</div>