/* Site-specific css */

/* Page header */
.post-header {
  text-align: center;
}

/* Formatting for Clips page */
.publication {
  text-align: center;
  /*font-style: italic;*/
  font-weight: bold;
}
.publication-date {
  text-align: center;
  /*font-weight: bold;*/
}
.clip-blurb p {
}
.clip-link {
  text-align: center;
}