---
layout: default
---

{% assign clips=site.data[page.data-source] | group_by: "category" %}

<article class="post">

  {% include page-title.html title=page.title %}


  <div class="clips-link-container">
    {% for category in clips %}
      <a class="clips-link" href="#{{category.name | downcase | replace: ' ','_'}}">{{category.name}}</a>
    {% endfor %}
  </div>

  <div class="clips-content">
    {% for category in clips %}
      <a name="{{category.name | downcase | replace: ' ','_'}}"></a>
      <h2> {{ category.name }} </h2>
      {% for clip in category.items %}
        {% include clip.html clip=clip %}
      {% endfor %}
      <!-- <p class="small text-center text-uppercase"><a href="{{page.url}}">- Top of page - </a></p> -->

    {% endfor %}
  </div>

</article>